includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    excludePaths:
        - src/Database/Schema/Blueprint

    tmpDir: build/phpstan
    checkMissingIterableValueType: true

