includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Database/Schema/Blueprint

    tmpDir: build/phpstan
    checkMissingIterableValueType: true

