parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:latestPublished\\(\\)\\.$#"
			count: 1
			path: src/Database/Eloquent/PublishingScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:oldestPublished\\(\\)\\.$#"
			count: 1
			path: src/Database/Eloquent/PublishingScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getPublishedAtColumn\\(\\)\\.$#"
			count: 1
			path: src/Database/Eloquent/PublishingScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getQualifiedPublishedAtColumn\\(\\)\\.$#"
			count: 9
			path: src/Database/Eloquent/PublishingScope.php
